lxml==3.3.0beta3
-e git+git://github.com/jpmckinney/pupa.git@hotfix#egg=pupa
-e git+git://github.com/sunlightlabs/scrapelib.git#egg=scrapelib

# Maintenance
autopep8==0.9.7
GitPython==0.3.2.RC1
pep8==1.4.6
Unidecode==0.04.14
