requests==1.0.0
lxml==3.3.0beta3
cssselect==0.9.1
-e git+git://github.com/opencivicdata/pupa.git@ad2d919268a3fa8857a28b94a6490d57728bc78b#egg=pupa
scrapelib==0.9.1
-e git+git://github.com/sunlightlabs/validictory.git#egg=validictory

# Validation
regex==2014.02.16

# Maintenance
autopep8==0.9.7
GitPython==0.3.2.RC1
invoke==0.7.0
pep8==1.4.6
Unidecode==0.04.14
